logic-app-clone/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@{triggerBody()?['field']} | @{triggerBody()?['field_1']}"
                },
                "runAfter": {
                    "Set_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "varItem",
                            "type": "integer",
                            "value": 1
                        }
                    ]
                },
                "runAfter": {}
            },
            "Set_variable": {
                "type": "SetVariable",
                "inputs": {
                    "name": "varItem",
                    "value": 7
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "field": {
                                "type": "string"
                            },
                            "field_1": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateless"
}